a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font: {
    family: $primary-font;
    size: 1.4rem;
  }
  line-height: 1;
  color: $title-color;
}

input,
button {
  font: {
    family: $primary-font;
    size: 1.4rem;
  }
  line-height: 1;
  color: $title-color;
  outline: none;
}

button {
  cursor: pointer;
}