section.about
	.container  
		+blockBox("What we do","story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ullam velit cumque ratione officiis dolores sit pariatur quis quae ducimus dignissimos, voluptatem totam possimus qui esse sunt quos consequatur dolor!")
		.block-list
			+blockList("./images/img-about1.png")
				i.fa.fa-users 
				span Super Team
			+blockList("./images/img-about2.png")
				i.fa.fa-users 
				span Chill Space
			+blockList("./images/img-about3.png")
				i.fa.fa-users 
				span Simple


			