section.client 
  .container 
    +blockBox("happy clients", "What people say")
    ul.client-list 
      +clientItem
      +clientItem("./images/img-people2.png", "Nick Karvounis")
      +clientItem("./images/img-people3.png", "Jealynn Castillo")
      +clientItem("./images/img-people4.png", "Mike Petrucci")