section.footer  
  .container 
    .footer-header 
      .footer-item
        a(href="#").footer-heading.footer-logo MoGo 
        .footer-desc 
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat labore mollitia beatae, alias consectetur magnam, quibusdam tempore eligendi nostrum laborum ut reprehenderit earum natus. Laboriosam aut odit dolores officia facere!
        p.footer-follower <strong>15k</strong> followers
        .footer-social 
          span.footer-social-text Follow Us: 
          .footer-social-icon 
            a(href="#") 
              i.fab.fa-facebook
            a(href="#") 
              i.fab.fa-twitter
            a(href="#") 
              i.fab.fa-instagram
            a(href="#") 
              i.fab.fa-pinterest
            a(href="#") 
              i.fab.fa-youtube
            a(href="#") 
              i.fab.fa-dribbble
            a(href="#") 
              i.fab.fa-tumblr
            a(href="#") 
              i.fab.fa-google-plus
        form.footer-form(action="#")
          input(type="text" placeholder="Your Email") 
          button(type="submit") subcribe
      .footer-item
        h3.footer-heading Blogs 
        ul.footer-blog 
          li.footer-blog-item 
            a(href="#").footer-blog-link
              img(src="https://images.unsplash.com/photo-1691424024432-c3dac1b74ab2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1744&q=80").footer-blog-img
              .footer-blog-info  
                h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.footer-blog-date Jan 9, 2016
          li.footer-blog-item 
            a(href="#").footer-blog-link
              img(src="https://images.unsplash.com/photo-1690544732518-02d5110ce233?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80").footer-blog-img
              .footer-blog-info  
                h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.footer-blog-date Jan 9, 2016
          li.footer-blog-item 
            a(href="#").footer-blog-link
              img(src="https://images.unsplash.com/photo-1690544733906-4a2625bc76b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80").footer-blog-img
              .footer-blog-info  
                h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.footer-blog-date Jan 9, 2016
      .footer-item
        h3.footer-heading Instagram 
        .footer-imgs 
          .footer-img 
            img(src="https://images.unsplash.com/photo-1690983178068-eb0ac76ef0b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1629&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1691413435115-64b9c3141dc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1690987866346-9973ed5f4f81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1691145697744-ba94b6950592?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1681863177225-5fa13305ea95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1615&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1690914913845-3863dbd15a9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1690988550401-3e23818b03c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
          .footer-img 
            img(src="https://plus.unsplash.com/premium_photo-1689838026693-02c808d3c794?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
          .footer-img 
            img(src="https://images.unsplash.com/photo-1690850707632-aa1efafc18cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
        a(href="#").footer-viewMore View more photos

    .footer-copyright &copy; 2016 MoGo free PSD template by 
      span Laaqiq