section.number 
  .container 
    .number__list 
      .number__item
        h3.number__count 42
        span.number__text web design projects
      .number__item
        h3.number__count 123
        span.number__text happy client
      .number__item
        h3.number__count 15
        span.number__text award winner
      .number__item
        h3.number__count 99
        span.number__text cup of coffe
      .number__item
        h3.number__count 24
        span.number__text members