section.quote 
  .container 
    .quote-container 
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti ex quam nemo aut velit, fugiat nam, doloribus voluptatum in nostrum sequi dolores, ab laboriosam enim voluptate assumenda corporis unde.",
        author: "John Doe",
        type: false
      })
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti ex quam nemo aut velit, fugiat nam, doloribus voluptatum in nostrum sequi dolores, ab laboriosam enim voluptate assumenda corporis unde.",
        author: "John Doe",
        type: false
      })
      +quoteItem({
        src: "./images/img-quote.png",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corrupti ex quam nemo aut velit, fugiat nam, doloribus voluptatum in nostrum sequi dolores, ab laboriosam enim voluptate assumenda corporis unde.",
        author: "John Doe",
        type: false
      })