section.services
  .container 
    +blockBox("What work with", "amazing services")
    .services__container 
      .services__list 
        +serviceItem("./images/img-service-icon1.png", "photography", "ipsum, dolor sit amet consectetur adipisicing elit.")
        +serviceItem("./images/img-service-icon2.png", "web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("./images/img-service-icon3.png", "creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
      .services__list 
        +serviceItem("./images/img-service-icon4.png", "seo", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("./images/img-service-icon5.png", "css/html", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("./images/img-service-icon6.png", "digital", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")