section.team 
	.container 
		+blockBox("Who we are", "meet our team", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti nihil reiciendis pariatur explicabo magnam. Dolorum, praesentium repellat expedita recusandae pariatur corrupti, amet ab optio nulla rem veniam est velit illum.")
		.block-list
			.team-item
				+blockList("./images/img-team1.png")
					a(href="#").block-list__social 
						i.fab.fa-facebook-f
					a(href="#").block-list__social 
						i.fab.fa-twitter
					a(href="#").block-list__social 
						i.fab.fa-pinterest
					a(href="#").block-list__social 
						i.fab.fa-instagram
				.team-info 	
					h3.team-info-name Matthew Dix
					span.team-info-position graphic
			.team-item
				+blockList("./images/img-team2.png")
					a(href="#").block-list__social 
						i.fab.fa-facebook-f
					a(href="#").block-list__social 
						i.fab.fa-twitter
					a(href="#").block-list__social 
						i.fab.fa-pinterest
					a(href="#").block-list__social 
						i.fab.fa-instagram
				.team-info 	
					h3.team-info-name Christopher Campbell
					span.team-info-position branding/UX design
			.team-item
				+blockList("./images/img-team3.png")
					a(href="#").block-list__social 
						i.fab.fa-facebook-f
					a(href="#").block-list__social 
						i.fab.fa-twitter
					a(href="#").block-list__social 
						i.fab.fa-pinterest
					a(href="#").block-list__social 
						i.fab.fa-instagram
				.team-info 	
					h3.team-info-name Michael Fertig
					span.team-info-position developer
section.brand 
	.container 
		img(src="./images/img-logos.png")
		
