section.quote 
  .container 
    .quote-container 
      +quoteItem({
        src: "./images/img-testimonial.png", type: true, 
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque consequatur sunt maiores dolorem quae accusantium iste aspernatur quo suscipit, ipsam exercitationem at fuga eveniet in ad. Voluptatibus, quia maxime?", 
        author: "Joshua Earle"
      })
      +quoteItem({
        src: "./images/img-testimonial.png", type: true, 
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque consequatur sunt maiores dolorem quae accusantium iste aspernatur quo suscipit, ipsam exercitationem at fuga eveniet in ad. Voluptatibus, quia maxime?", 
        author: "Joshua Earle"
      })
      +quoteItem({
        src: "./images/img-testimonial.png", type: true, 
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque consequatur sunt maiores dolorem quae accusantium iste aspernatur quo suscipit, ipsam exercitationem at fuga eveniet in ad. Voluptatibus, quia maxime?", 
        author: "Joshua Earle"
      })