section.wedo
  .container 
    +blockBox("Service", "what we do", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque rem ipsam earum eius nemo explicabo excepturi qui sapiente? Laboriosam neque maxime quam sint, dignissimos ab itaque minima voluptates corrupti aspernatur?")
    .wedo-container 
      img(src="./images/img-wedo.png").wedo-img
      .wedo-content  
        +wedoItem("./images/img-wedo-icon1.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem!", "is-active")
        +wedoItem("./images/img-wedo-icon2.png", "creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem!")
        +wedoItem("./images/img-wedo-icon3.png", "web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia consectetur dignissimos! Sequi voluptates corrupti facere odio totam, quae omnis culpa est consequatur sed consectetur impedit repudiandae sit labore autem!")
