section.work 
	.container 
		+blockBox("What we do", "some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ut vitae est voluptates voluptate officiis dolorem reprehenderit cumque alias pariatur, voluptatem nihil ratione temporibus ipsum! Sed perspiciatis culpa fugiat optio.")
	.work-list 
			+workItem
			+workItem("./images/img-work2.png", "fa fa-heart")
			+workItem("./images/img-work3.png", "fa fa-heart")
			+workItem("./images/img-work4.png", "fa fa-heart")
			+workItem("./images/img-work5.png", "fa fa-heart")
			+workItem("./images/img-work6.png", "fa fa-heart")
			+workItem("./images/img-work7.png", "fa fa-heart")

