.blog {
  --image-height: 24rem;
  --media-mb: 2rem;
  margin: 11rem 0;
  background-color: #fff;
  &-list {
    @include flexbox(stretch, space-between);
  }
  &-item {
    width: calc((100% / 3) - 2rem);
  }
  &-media {
    position: relative;
    margin-bottom: var(--media-mb);
    &-img {
      width: 100%;
      height: var(--image-height);
      object-fit: cover;
    }
    &-date {
      position: absolute;
      left: -1rem;
      bottom: 1rem;
      padding: 1.5rem;
      background-color: $third-color;
      &-number {
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 5px;
      }
      &-text {
        font-family: $secondary-font;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-style: italic;
        color: #fff;
      }
    }
  }
  &-content {
    height: calc(100% - var(--image-height) - var(--media-mb));
    @include flexbox(flex-start, space-between, column)
  }
  &-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
    @include textClamp;
  }
  &-desc {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-medium-color;
    &-inner {
      font-family: $secondary-font;
      font-size: 1.5rem;
      color: $text-color;
      @include textClamp(3);
    }
  }
  &-meta {
    @include flexbox(center);
    &-item {
      &:first-of-type {
        margin-right: 2rem;
      }
    }
    &-icon {
      font-size: 1.6rem;
      margin-right: 1rem;
      color: $third-color;
    }
    &-number {
      font-family: $secondary-font;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: italic;
      color: $text-color;
    }
  }
  @include maxWidth(1279px) {
    &-media {
      &-date {
        left: -5px;
      }
    }
  }
  @include maxWidth(767px) {
    margin: 5rem 0;
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }
  }
}
.map {
  padding: 6rem 0;
  @include flexbox(center, center, column);
  background: linear-gradient(to bottom, rgba(#fff, 0.8), rgba(#fff, 0.8)) ,url(../images/img-map.png);
  &-img {
    margin-bottom: 2rem;
  }
  &-text {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
    color: $primary-color;
    padding-bottom: 2.5rem;
    position: relative;
    &::before {
      content: "";
      @include absoluteCenter("left");
      bottom: 0;
      @include size(6rem, 4px);
      background: $primary-color;
    }
  }
}