.team {
  --img-height: 470px;
  --info-mb: 30px;
  padding: 100px 0 110px;
  .block-list {
    &__item {
      height: var(--img-height);
      img {
        object-position: top;
      }
    }
    &__content {
      display: flex;
      a {
        @include flexbox(center, center);
        @include size(60px);
        background-color: $secondary-color;
        color: $primary-color;
        font-size: 2.5rem;
        transition: all 0.15s linear;
        &:not(:first-of-type) {
          border-left: 1px solid $primary-color;
        }
        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
  &-info {
    margin-top: var(--info-mb);
    padding: 0 30px;
    text-align: center;
    height: calc(100% - var(--img-height) - var(--info-mb));
    @include flexbox(center, space-between, column);
    &-name {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 15px;
      @include textClamp(2,1.4);
    }
    &-position {
      font-family: $secondary-font;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: italic;
      text-transform: capitalize;
      color: $text-color;
      @include textClamp(2,1.4);
    }
  }
  @include maxWidth(1023px) {
    --img-height: 350px;
    --info-mb: 20px;
    &-info {
      padding: 0 20px;
      &-name {
        margin-bottom: 5px;
      }
    }
  }
  @include maxWidth(767px) {
    padding: 50px 0 30px;
  }
}

.brand {
  background-color: $gray-color;
  padding: 70px 0;
  @include maxWidth(767px) {
    padding: 50px 0;
  }
  @include maxWidth(479px) {
    padding: 30px 0;
  }
}